<main class="main main-description">
  <section class="section section-description">
    <h1>გზამკვლევი ანგულარის სამყაროში</h1>
    <p>ქართული პლათფორმა ანგულარის სამყაროში. გვსურს ერთ სივრცეში გავაერთიანოთ ყველა ანგულარის სერვისები რათა
      გავუმარტივოთ დეველოპერებს ამ დიდ ხელსაწყოსთან მუშაობა. გთოხვთ გაითვალისწინოთ რომ საიტი და სერვისები დეველოპმენტის
      პროცესშია და კონტრიბუციის სურვილის შემთხვევაში დაგვიკავშირდეთ </p>
    <nav class="buttons-wrapper">
      <button class="button button-1">სერვისები</button>
      <a [href]="environment.facebookUrl" target="_blank" rel="noopener">
        <button class="button button-2">კონტაქტი</button>
      </a>
    </nav>
  </section>
</main>
