<div class="header-wrapper">
  <nav class="header-content">
    <a routerLink="/home">
      <div class="header-left-box header-box">
        <img ImgSrcRewrite src="/assets/images/site-logo.jpg" alt="logo">
        <h1>Angular Georgia</h1>
      </div>
    </a>
    <div class="header-right-box header-box">
      <nav class="menu">
        <ul>
          <li routerLink="/home" routerLinkActive="active-menu-link">Home</li>
          <li routerLink="/features/transliteration" routerLinkActive="active-menu-link">Transliteration</li>
        </ul>
      </nav>
      <ul class="socials">
        <li>
          <a [href]="environment.facebookUrl" target="_blank">
            <button>
              <fa-icon [styles]="{width: '1.25rem'}" [icon]="facebookIcon"></fa-icon>
            </button>
          </a>
        </li>
        <li>
          <a [href]="environment.instagramUrl" target="_blank">
            <button>
              <fa-icon [styles]="{width: '1.25rem'}" [icon]="instagramIcon"></fa-icon>
            </button>
          </a>
        </li>
        <li (click)="burgerMenuService.toggleMenu()">
          <button>
            <fa-icon [icon]="burgerMenuIcon" class="burger-menu"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
