$background_body_10_dark: #ffffff;
$background_body_20_dark: #11181F;
$background_button_on_10_dark: #11181F;
$background_button_on_20_dark: #ffffff;
$border_button_on_10_dark: #ffffff;
$color_on_body_10_dark: #11181F;
$color_on_body_20_dark: #ffffff;

$background_body_10_light: #ffffff;
$background_body_20_light: #11181F;
$background_button_on_10_light: #11181F;
$background_button_on_20_light: #ffffff;
$border_button_on_10_light: #ffffff;
$color_on_body_10_light: #11181F;
$color_on_body_20_light: #ffffff;

// mixin that enables css variables in light mode
@mixin lighten() {
  --background_body_10: #{$background_body_10_light};
  --background_body_20: #{$background_body_20_light};
  --background_button_on_10: #{$background_button_on_10_light};
  --background_button_on_20: #{$background_button_on_20_light};
  --border_button_on_10: #{$border_button_on_10_light};
  --color_on_body_10: #{$color_on_body_10_light};
  --color_on_body_20: #{$color_on_body_20_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --background_body_10: #{$background_body_10_dark};
  --background_body_20: #{$background_body_20_dark};
  --background_button_on_10: #{$background_button_on_10_dark};
  --background_button_on_20: #{$background_button_on_20_dark};
  --border_button_on_10: #{$border_button_on_10_dark};
  --color_on_body_10: #{$color_on_body_10_dark};
  --color_on_body_20: #{$color_on_body_20_dark};
}

body {
  @include lighten();
  background-color: var(--background_body);
}

body.dark {
  @include darken();
  background-color: var(--background_body);
}

