<div class="footer-wrapper">
  <nav class="footer-content">
    <ul class="socials">
      <li>
        <a [href]="environment.facebookUrl" target="_blank" rel="noopener">
          <button>
            <fa-icon [styles]="{width: '1.25rem'}" [icon]="facebookIcon"></fa-icon>
          </button>
        </a>
      </li>
      <li>
        <a [href]="environment.facebookUrl" target="_blank" rel="noopener">
          <button>
            <fa-icon [styles]="{width: '1.25rem'}" [icon]="instagramIcon"></fa-icon>
          </button>
        </a>
      </li>
    </ul>
    <a id="title" [href]="environment.youtubeUrl" target="_blank" rel="noopener">
      <h1>Angular Georgia</h1>
    </a>
  </nav>
</div>
