<div class="header-wrapper">
  <nav class="header-content">
    <div class="header-left-box header-box">
      <img src="/assets/images/site-logo.jpg" alt="logo">
      <h1>Angular Georgia</h1>
    </div>
    <div class="header-right-box header-box">
      <ul class="socials">
        <li>
          <button>
            <fa-icon [styles]="{width: '1.25rem'}" [icon]="facebookIcon"></fa-icon>
          </button>
        </li>
        <li>
          <button>
            <fa-icon [styles]="{width: '1.25rem'}" [icon]="instagramIcon"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
